---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import Pill from '../components/Pill.astro';
--- 

<Layout 
	title="Danmarqu Portfolio | Junior Web Developer and Programmer"
	description="Explore the portfolio of Daniel Marquez Alonso, showcasing skills in web development and programming.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img 
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/73942105?v=4"
				alt="danmarqu photo"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-7">
				Hey, I am <span class="text-blue-500 whitespace-nowrap">Daniel</span> 👋 
				<a href="https://www.linkedin.com/in/daniel-marquez-alonso/"
				class="flex justify-center items-center"
				rel="noopener" target="_blank">
				<Badge>Open to work</Badge></a>
			</h1>
			<h2 class="text-xl">
				I'm a <span class="text-blue-500 ">Frontend Developer</span> from
				<span class="text-blue-500">Spain</span>. Specialized in create amazing
				user interfaces and experiences. I love to learn new things and share my knowledge 
				with others. I'm currently studing in
				<a 
					class="text-blue-500 whitespace-" rel="noopener" target="_blank"
					href="https://www.fundaciontelefonica.com/empleabilidad/campus-42/">
					42 Malaga
				</a>Telefónica Foundation.
			</h2>
			<nav class="flex gap-x-2 mt-8">
				<Pill href="https://www.linkedin.com/in/daniel-marquez-alonso/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</Pill>
				<Pill href="https://github.com/DanielMarquezAlonso">
					<GithubIcon class="size-6" />
					Github
				</Pill>
				<Pill href="https://github.com/DanielMarquezAlonso">
					<MailIcon class="size-6" />
					daniel.marquez.alonso64@gmail.com
				</Pill>
			</nav>
		</section>
	</main>
</Layout>

