<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
	<div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
	<p>
		My name is Daniel Márquez, I am 22 years old, and I am from Seville, Spain. I completed the <strong>Higher Degree in Web Application Development</strong>, and <strong>currently, I am studying at campus 42 Málaga</strong>.
	</p>
	
	<p>
		I am a student at 42 because I find this learning method very interesting and enjoyable. With no teachers around, teamwork is essential to keep progressing in the course. Moreover, being surrounded by numerous events and in an environment filled with independent programmers allows me to stay updated on the latest technologies and learn from others.
	</p>
	
	<p>
		During my Web Application Development course, my class and I organized a <a href="https://djangogirls.org/es/sevilla/" class="text-blue-500" rel="noopener" target="_blank">charity event</a> in collaboration with <a href="https://djangogirls.org/es/" class="text-blue-500" rel="noopener" target="_blank">Django Girls</a> to introduce women to web programming. We conducted a course where participants built a small blog using Django. I also took part in the hackathon at <a href="https://djangogirls.org/es/sevilla/" class="text-blue-500" rel="noopener" target="_blank">JunctionX Málaga 2023</a>, which I did with my peers from 42. During this event, we learned to create Python programs with AI to conceal information in images.
	</p>
	
	</div>
	<img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2"/>
</section>