<header 
	class="flex justify-center items-center mx-auto
	py-5 sticky top-0  w-full xl:w-[1120px] z-10">

	<nav class="flex flex-row gap-x-10">
		<a href="#top" class="text-white">Home</a>
		<a href="#experience" class="text-white">Experience</a>
		<a href="#proyects" class="text-white">Proyects</a>
		<a href="#about-me" class="text-white">About me</a>
	</nav>
</header>