<header 
	class="flex justify-center items-center mx-auto
	py-5 sticky top-0  w-full xl:w-[1120px] z-10">

	<nav class=" border border-black rounded-full px-3 py-1	flex flex-row tems-center
	bg-slate-970	backdrop-blur-2xl">
		<a href="/#top" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Home</a>
		<a href="/#experience" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Experience</a>
		<a href="/#proyects" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">Proyects</a>
		<a href="/#about-me" class="hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base">About me</a>
	</nav>
</header>