<header 
	class="flex justify-center items-center mx-auto
	py-5 sticky top-0  w-full xl:w-[1120px] z-10">

	<nav class="flex flex-row gap-x-10">
		<a href="/" class="text-white">Home</a>
		<a href="/about" class="text-white">About</a>
		<a href="/proyects" class="text-white">Proyects</a>
		<a href="/contact" class="text-white">Contact</a>
	</nav>
</header>