---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro"

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-white dark:text-white ">
		 
		<div 
			class="absolute h-full w-full inset-0 -z-10
			dark:bg-fuchsia-800 bg-fuchsia-800 [size:20px_20px] opacity-15  blur-[100px]">
		</div>
		<Header />
		<slot />	
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {

		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
		background-color: var(--color-bg-light);

	}

	@media (prefers-reduced-motion: reduce) {
     html {
       scroll-behavior: auto;
     }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgba(255, 255, 255, 0.9);
    }

  }
  @media (prefers-color-scheme: light) {
    :root {
		--color-bg-light: #302336;
		color: rgba(255, 255, 255, 0.9);

	}

  }


</style>
